#canvasGrid{
    display: flex;
    justify-content: center;
  }
  
  #canvasR{
    user-select: none;
    touch-action: none;
    border-style: solid;
    border-left: dotted;
  }
  
  #canvasL{
    user-select: none;
    touch-action: none;
    border-style: solid;
    border-right: none;
  }