.container{
    background-color: white;
    margin: 0;
}

.modal{
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%; -50%)';
    width: 400;
    background-color: 'white';
    border: '2px solid #000';
    box-shadow: 24;
  /* p: 4; */
}

#time{
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

#timer{
  font-size: 20px;
}

h1{
  text-align: center;
  margin-top: 0;
}

#SeveralChanges1{
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  width: 200px;
}

#SeveralChanges2{
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  width: 200px;
}