.buttom{
    font-size: xxx-large;
    border: inset;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
    background-color: rgb(1, 172, 172);
    color: black;
}

.buttom:hover{
    background-color: rgba(1, 100, 100, 0.973);
}

#choice{
    width: 450px;
    margin: auto;
}