.btnN {
    height: 120px;
    width: 120px;
    border-color: transparent;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;;
    width: 460px;
    margin-top: 95px;
}