
* {
  box-sizing: border-box;
}

/* #app{
  font-family: 'Ubuntu', sans-serif;
} */
body, html {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f0f0f2;
}

html {
  
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
}

body {
  margin: 0;
  /* font-family: 'Ubuntu', sans-serif; */
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}